<app-main-navbar></app-main-navbar>
<main class="profile-page">
    <section class="relative block" style="height: 500px;">
      <div class="absolute top-0 w-full h-full bg-center bg-cover" style='background-image: url(./assets/img/ingredients_bg_2.png);'>
        <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
      </div>
      <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden" style="height: 70px;">
      </div>
    </section>

    <section class="relative py-1 bg-white">
      <div class="container mx-auto px-4 lg:px-56">
        <div class="relative flex flex-col min-w-0 break-words bg-amber-100 bg-opacity-40 w-full mb-6 shadow-xl rounded-lg -mt-72">
          <div class="px-8">
            <div class="mb-12 text-center mt-12">
                <div class="flex w-full md:justify-center justify-center items-end">
                    <div class="relative mr-4 lg:w-full xl:w-3/4 w-3/4">
                        <input type="text" id="search-field" name="search-field" [(ngModel)]="searchText" (keyup.enter)="searchRecipes()" placeholder="Search recipes"
                          class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:ring-2 focus:ring-amber-200 focus:border-amber-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                    <button (click)="searchRecipes()" class="inline-flex text-white bg-amber-500 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-800 rounded text-lg">Search</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="text-gray-600 body-font">
        <div class="container px-5 mx-auto">
          <div class="flex flex-col text-center w-full my-10">
            <h1 class="sm:text-4xl text-2xl font-medium title-font mb-4 text-gray-900">Recipes</h1>
            <p class="lg:w-2/6 mx-auto leading-relaxed text-base">"Dishes to share, moments to cherish."</p>
          </div>   
        </div>
    </section>
    <app-recipe-view *ngFor="let recipe of recipes" [recipe]="recipe" [showAddButtonCV]="showAddFavoriteButton" [showDeleteButtonCV]="showDeleteFavoriteButton"></app-recipe-view>
  </main>
<app-main-footer></app-main-footer>