<div class="fixed inset-0 overflow-y-auto">
  <div class="flex items-center justify-center min-h-screen p-4">
    <!-- Fondo oscuro detrás del modal -->
    <div class="fixed inset-0 bg-black opacity-50"></div>
    
    <!-- Modal -->
    <div class="relative bg-white max-w-screen-md mx-auto p-4 rounded-lg shadow-lg z-50">
      <!-- Botón para cerrar el modal (fuera del área del modal) -->
      <div class="absolute top-0 right-0 mt-2 mr-3 cursor-pointer">
        <svg class="w-6 h-6 text-gray-600 hover:text-gray-800" (click)="closeModal()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>

      <!-- Contenido del modal (aquí mostrarías la receta obtenida) -->
      <div class="overflow-y-auto mt-6 max-h-svh" *ngIf="recipeData">
        <!-- Contenido de la receta -->
        <div class="flex flex-col mx-8">
          <div class="flex justify-between items-center mb-4">
            <!-- Título y botón de agregar a favoritos -->
            <h2 class="text-2xl font-medium text-gray-900">{{ recipeData.title}}</h2>
            <div class="flex items-center border-2 border-amber-500 rounded-lg">
              <!-- Texto "Agregar a favoritos" -->
              <h2 class="text-gray-900 title-font font-thin text-sm sm:text-2xl px-4">Agregar a favoritos</h2>
              <!-- Botón -->
              <button class="rounded-full w-10 h-10 bg-white p-0 border-0 inline-flex items-center justify-center text-gray-500">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
                </svg>
              </button>
            </div>
          </div>
          <!-- Imagen de la receta -->
          <img alt="imagen de receta" class="w-full h-auto object-cover object-center rounded mb-4" [src]="recipeData.image">
          <!-- Descripción de la receta -->
          <div class="text-gray-700 leading-relaxed">
            <p class="mb-4" [innerHTML]="getSanitizedSummary()"></p>
          </div>
          <!-- Lista de ingredientes -->
          <div class="mb-4">
            <h3 class="text-lg font-medium text-gray-900">Ingredients:</h3>
            <ul class="list-disc pl-6">
              <ng-container *ngFor="let ingredient of recipeData.extendedIngredients">
                <li>{{ ingredient.original }}</li>
              </ng-container>
            </ul>
          </div>
          <!-- Instrucciones de la receta -->
          <div>
            <h3 class="text-lg font-medium text-gray-900">Instructions:</h3>
            <ol class="list-decimal pl-6">
              <ng-container *ngFor="let step of recipeData.analyzedInstructions[0]?.steps">
                <li>{{ step?.step }}</li>
              </ng-container>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>